<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/index.css">
  <script src="./js/lib/jquery.js"></script>
</head>

<body>
  <script src="./utils/flexible.js"></script>
  <div id="app" class="flex-row-center">
    <div id="nav" class="flex">
      <div class="nax-left flex-row-center">
        <a href="./pages/home.html">
          <img src="./img/back.png" alt="" class="back-icon">
        </a>
      </div>
      <div class="nav-title flex-row-center">导航栏</div>
      <div class="nav-right flex-row-center">info</div>
    </div>
    <div class='msg '>loading......</div>
  </div>
  <script src="./js/index.js"></script>
</body>

</html>